@import url('http://fonts.googleapis.com/css?family=Oswald:700,400&subset=latin-ext,latin');

/* ============================= global ====================== */

root { 
    display: block;
}

body {
        background: #1d1f1d;
        font:10px/21px Oswald, sans-serif;
}

.site {
    display: block;
    width: 100%;
    margin: 0 auto;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
}

.page {
    width: 920px;
    margin: 0 auto;
}

h2 {
    font: 20px Oswald, sans-serif;
    font-weight: 600;
    color: #bed203;
}

h3 {
    color: #659400;
    font: 14px Oswald, sans-serif;
}

ul li {
        display: inline-block;
}

.right {
    float: right;
}

/* ============================= top ====================== */

#top-bg {
        background: url('../images/top_bg.jpg') repeat-x;
        height: 150px;
        width: 100%;
}

#top-site-bg {
	background-image: url('../images/top_site_bg.jpg');
}

#top-site-bg .page {
        position: relative;
}

#top-site-bg h1 {
        width:181px;
}

#logo {
        margin-top: 72px;
        margin-left: 23px;
    	position:relative;
	display:inline-block;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	width:181px;
	height:60px;
	background:url(../images/logo.png) 0 0 no-repeat;
}

p#telephone-top {
    position: absolute;
    padding-left: 25px;
    font: 20px/20px Oswald, sans-serif;
    color: #9cc45f;
    right: 0;
    bottom: -5px;
    background: url('../images/telephone_icon_big.png') 0 0 no-repeat;
}

p#telephone-top span{
    padding-left: 25px;
}

/* ============================= menu ====================== */

#menu-bg {
        background: #000;
	width:100%;
	height:49px;
}

#menu-site-bg {
	width:100%;
        background: #000;
        text-transform:uppercase;
}

#menu-site-bg ul li a {
        display: inline-block;
        position: relative;
        top: -2px;
        font: 12px/54px Oswald, sans-serif;
        padding: 0 30px;
        text-decoration: none;
        color: #fff;
        height: 54px;
}

#menu-site-bg ul li a:hover {
        background: #acca20;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
}

/* ============================= middle (slider) ====================== */

#middle-bg {
    	background: url('../images/middle_bg.jpg') repeat-x;
	width:100%;
	height:321px;
}

#middle-site-bg {
        background-image: url('../images/middle_site_bg.jpg'); 
}

#slider {
        display: inline-block;
        margin-top: 15px;
        width: 900px;
        height: 264px;
        padding: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        background: #fff;
}

#slider #left-container {
        width: 375px;
        height: 100%;
        float: left;
}

#left-container #top {
        height: 170px;
        width: 100%;
        
   /*     background: url('../images/slider-top.jpg') no-repeat;*/
}

#left-container #bottom {
        height: 94px;
        width: 100%;
}

#left-container #bottom h2 {
    padding-left: 30px;
    padding-top: 15px;
    line-height: 24px;
}

#left-container p {
    font-size: 16px;
    color: #659400;
    padding-left: 30px;   
}

#left-container p#grey {
    margin-top: 10px;
    color: #474747;
    float: right;
    padding-right: 20px;

}

#right-container {
    float: left;
    height: 264px;
    overflow: hidden;
}

    div.scrollingtext-container{
        position:relative;
        height:30px;
        width:100%;
        display:block;
        overflow:hidden;
        background: #000;
    }
   .scrollingtext{
        position:absolute;
        white-space:nowrap;
        font-family:Oswald, sans-serif;
        font-size:14px;
        font-weight:bold;
        color:#fff;
        line-height: 30px;
    }
    
    div.scrollingtext-container ul li {
        display: inline-block;
        padding: 0 15px;
        text-transform: uppercase;
    }

/* ============================= main content ====================== */

#content-bg {
        background: #fff;
	width: 100%;
}

#content-site-bg {
	padding-bottom: 20px;
}

#content-site-bg .page {
    padding-top: 20px;
}

#box-left-container {
        display: inline-block;
        margin-right: 15px;
}

.box-left {
    width: 214px;
    padding: 3px;
    height: 79px;
    background: #bcd44a;
    border: 1px solid #9baf4c;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.box-left-content {
    background: #fefefe;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.box-left-content .right {
    width: 115px;
}

.box-left-content img {
    margin: 5px 5px 5px 5px;
}

.box-left-content h3 {
    display: inline-block;
    margin-bottom: 2px;
}

.box-left-content p {
    display: inline-block;
    width: 100px;
    height: 35px;
    overflow: hidden;
    font: 10px/12px Arial, sans-serif;
    text-align: justify;
}

.box-left-content a.more {
    margin-right: 10px;
    float: right;
    color: #659400;
    font-weight: bold;
    font-size: 10px;
    padding-right: 16px;
    background: url('../images/more.jpg') right center no-repeat;
}

#main-container {
    display: inline-block;
    text-align: center;
}

#main-container h2{
    font-size: 27px;
    padding-top: 10px;
    color: #bfd303;
    text-transform: uppercase;
}

#main-container h2 span{
    color: #8d8888;
    text-transform: none;
}

#main-container p {
    margin-top: 40px;
    font-size: 14px;
    color: #7f7e7e;
}

/* ============================= o-szkolce ====================== */

#main-container.o-szkolce {
    text-align: left;
    width: 647px;
}

/* ============================= cennik ====================== */

#cennik-container { width: 620px; margin: 20px 0 10px; }
#cennik-container .viewport { width: 590px; height: 330px; overflow: hidden; position: relative; }
#cennik-container .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; }
#cennik-container .scrollbar{ background: transparent url(../images/bg-scrollbar-track-y.png) no-repeat 0 0; position: relative; background-position: 0 0; float: right; width: 19px; }
#cennik-container .track { background: transparent url(../images/bg-scrollbar-trackend-y.png) no-repeat 0 100%; height: 100%; width:19px; position: relative; }
#cennik-container .thumb { background: transparent url(../images/bg-scrollbar-thumb-y.png) no-repeat 50% 100%; height: 20px; width: 28px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -5px; }
#cennik-container .thumb .end { background: transparent url(../images/bg-scrollbar-thumb-y.png) no-repeat 50% 0; overflow: hidden; height: 5px; width: 28px; }
#cennik-container .disable { display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }

#cennik-container p {
    margin-top: 0;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
}

.product-container {
    display: block;
    margin-bottom: 20px;
}

.img-container {
    display: inline-block;
    padding-right: 40px;
}

.img-container img {
    width: 91px;
    height: 92px;
}

.product-name {
    display: inline-block;
    font-size: 20px;
    margin-top: 25px;
    width: 400px;
}

.product-name h4 {
    font-size: 18px;
    display: inline-block;
    color: #bfd303;
    padding-right: 20px;
    line-height: 30px;    
}

.product-name p {
    display: inline-block;
    color: #8d8888;
    margin-top: 0;
}

.product-name > ul {
    display: none;
    padding-top: 15px;
}

.product-name span.slide-down {
    display: inline-block;
    width: 100px;
    height: 30px;
    color: #8d8888;
    line-height: 30px;
    font-weight: bold;
    background: #f4fccf url('../images/cennik-dropdown-arrow.jpg') 85px center no-repeat;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-decoration: none;
    margin-left: 5px;
    cursor: pointer;
    font-size: 18px;
    padding-right: 10px;
}

.product-container ul {
    
    
}

.product-container li {
    font-size: 16px;
    height: 19px;
    width: 400px; /* px instead of 100% - the toogle animation looks better*/
    margin-bottom: 2px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.product-container li.green {
    color: #8d8888;
    background: #e4eeb6;
}

.product-container li.grey {
    color: #fff;
    background: #cbc8c8;
}

.product-container ul li ul {
    width: 100%;
    height: 19px; /* the same height like in product-container ul li*/
}

.product-container ul li ul li{
    float: left;
    
}

.product-container ul li.name {
    width: 160px;
}

.product-container ul li.lenght {
    width: 95px;
}

.product-container ul li.size {
    width: 60px;
}

.product-container ul li.price {
    width: 85px;
}

/* ============================= cennik-uslugi ====================== */

#main-container.cennik-uslugi {
    background: url('../images/cennik_uslugi_bg.jpg') right 80px no-repeat;
    padding-left: 40px;
    width: 620px;
}

#main-container.cennik-uslugi > p{
    margin-top: 0;
}

#cennik-uslugi-container { width: 340px; margin: 20px 0 10px; text-align: left; }
#cennik-uslugi-container .viewport { width: 300px; height: 330px; overflow: hidden; position: relative; }
#cennik-uslugi-container .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; }
#cennik-uslugi-container .scrollbar{ background: transparent url(../images/bg-scrollbar-track-y.png) no-repeat 0 0; position: relative; background-position: 0 0; float: right; width: 19px; }
#cennik-uslugi-container .track { background: transparent url(../images/bg-scrollbar-trackend-y.png) no-repeat 0 100%; height: 100%; width:19px; position: relative; }
#cennik-uslugi-container .thumb { background: transparent url(../images/bg-scrollbar-thumb-y.png) no-repeat 50% 100%; height: 20px; width: 28px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -5px; }
#cennik-uslugi-container .thumb .end { background: transparent url(../images/bg-scrollbar-thumb-y.png) no-repeat 50% 0; overflow: hidden; height: 5px; width: 28px; }
#cennik-uslugi-container .disable { display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }

.service-container {
    width: 300px;
}

#main-container.cennik-uslugi .service-container > p {
    margin-top: 0;
    margin-bottom: 10px;
    color: #000;
}

.service-container h4 {
    font-size: 20px;
    display: block;
    color: #bfd303;
    padding-right: 25px;
    line-height: 30px;   
    text-transform: uppercase;
}

#main-container.cennik-uslugi ul.service-list li p {
    margin-top: 0;
    width: 200px;
}

#cennik-uslugi-container ul.service-list {
    margin-bottom: 10px;
}

#cennik-uslugi-container ul.service-list li {
    display: block;
    overflow: auto;
    padding-bottom: 5px;
    
    
}

#cennik-uslugi-container ul.service-list li p {
    float: left;
    line-height: 22px; /* same as ul.service-list li*/
    margin: 0;
}

#cennik-uslugi-container ul.service-list li p.service-price {
    float: right;
    text-align: right;
    width: 100px;
}

/* ============================= uslugi ====================== */

#main-container.uslugi {
    text-align: left;
    width: 647px;
}


#main-container.uslugi p{
    margin-top: 30px;
}

#main-container.uslugi p.title{
    color: #bed203;
}

#main-container.uslugi a {
    color: #bed203;
}

#main-container.uslugi ul li{
    font-size: 12px;
    color: #7f7e7e;
    padding-bottom: 10px;
    padding-left: 20px;
    width: 100%;
}

/* ============================= transport ====================== */

#main-container.transport {
    width: 647px;
    text-align: left;
}

#main-container.transport p {
   
}

#transport-container > p{
     margin-top: 0;
     margin-bottom: 40px;
}

.transport-option {
    width: 100%;
    float: left;
    margin-bottom: 30px;
    height: 140px;
}

.transport-option .left {
    display: inline-block;
    text-align: center;
    width: 320px;
}

.transport-option .left p {
    display: inline-block;
}

.transport-option .right {
    display: inline-block;
    width: 320px;
    text-align: left;
}

.transport-option img#promocja {
    margin-top: 22px;
}

ul#transport-price {
    margin-top: 20px;
}

ul#transport-price li{
    display: block;
    font-size: 20px;
    color: #bfd303;
    line-height: 30px;  
}

/* ============================= galeria ====================== */

#main-container.gallery {
    text-align: left;
    width: 647px;
}

#main-container.gallery ul {
    width : 100%;
}

#main-container.gallery ul li {
    margin-right: 15px;
    margin-bottom: 15px;

    width: 195px;
    background: #fff;
    overflow: hidden;
    text-align: center;
}

#main-container.gallery ul li img {
    border: 5px solid #7f7e7e;
    max-width: 185px;
}

/* ============================= kontakt ====================== */

#main-container.kontakt {
    text-align: left;
    margin-left: 20px;
}

#main-container.kontakt h2 {
    margin-bottom: 40px;
}

#kontakt-container p{
    font-size: 14px;
    line-height: 22px;
    margin-top: 0;
    color: #7f7e7e;
}

#kontakt-container #left {
    float: left;
    width: 345px;
}

#kontakt-container #left a {
    color: #bed203;
}

#kontakt-container #right {
    float: right;
    width: 295px;
}

.address span {
    font-size: 14px;
    line-height: 22px;
    color: #7f7e7e;
}

#map {
    width: 345px;
    height: 200px;
    background: #000;
    margin-bottom: 10px;
    border: 5px solid #bed203;
}
    
#form1{
	float: right;
}
#form1 input {
	margin:0;
	border:1px solid #7f7e7e;
	padding:12px 0 13px 15px;
	width:230px;
	box-shadow:none;
	background:url(../images/contacts_form_bg.png) 0 0 repeat;
}
#form1 textarea {
	resize: none;
	margin:0;
	border:1px solid #7f7e7e;
	padding:12px 0 5px 15px;
	width:230px;
	height:134px;
	overflow:auto;
	background:url(../images/contacts_form_bg.png) 0 0 repeat;
}
#form1 label {
	position:relative;
	display:inline-block;
	min-height:47px;
}
#form1 .error, #form1 .empty {
	position:relative;
	top: -3px;
	display:none;
	font-size:10px;
	color:#676666;
	text-transform:none;
}
.btns{
	float:right;
	padding-top:15px;
}
.btns a{
        color: #fff;
	margin-left:15px;
        font-size: 12px;
        font-weight: normal;
        background: #7f7e7e;
        padding: 5px;
}

.btns a.grey {
        color: #7f7e7e;
        background: none;
}

/* Form defaults */
input, select, textarea {
	font:12px/14px Oswald, sans-serif;
	color:#676666;

}

/* ============================= Drzewko Info ====================== */

#main-container.drzewko-info {
    text-align: left;
    width: 647px;
}


#main-container.drzewko-info p{
    margin-top: 30px;
}

#main-container.drzewko-info a, #main-container.drzewko-info span {
    color: #bed203;
}

#main-container.drzewko-info ul li{
    font-size: 12px;
    color: #7f7e7e;
    padding-bottom: 10px;
    padding-left: 20px;
    width: 100%;
}


/* ============================= footer ====================== */

#footer-bg {
    	background: url('../images/footer_bg.jpg') repeat-x;
        width: 100%;
	height:250px;
}

#footer-site-bg {
	background-image: url('../images/footer_site_bg.jpg');
}

#footer-site-bg .page > div {
    padding-top: 35px;
    display: inline-block;
}

#footer-site-bg .page > div a {
    color: #9cc45f;
    font-size: 11px;
    text-decoration: none;
}

#footer-left {
    margin-left: 35px;
    width: 230px;
}

#footer-left > div {
    float: left;
    padding-bottom: 5px;
    background: url('../images/footer_menu.png') right bottom no-repeat;
}

ul#footer-uslugi-container li {
    width: 160px;
    padding-right: 25px;
    padding-left: 5px;
}

ul#footer-uslugi-container li ul li{
    width: 100%;
    height: 23px;
    background: url('../images/footer_menu.png') 0 bottom no-repeat;
}

ul#footer-uslugi-container li ul li:last-child {
    background: none;
}

ul#footer-uslugi-container li ul li a{
    line-height: 23px;
}

p#footer-address, p#footer-telephone, p#footer-email  {
    font-size: 12px;
    color: #9cc45f;
    float: left;
}

p.title {
    font-size: 18px;
    color: #95ac03;
    padding-bottom: 10px;
}

p#footer-address {
    padding-right: 10px;
}

p#footer-telephone {
    padding-left: 17px;
    background: url('../images/telephone_icon.png') left 2px no-repeat;
}

p#footer-email {
    margin-left: 35px;
    margin-top: 5px;
    padding-left: 19px;
    background: url('../images/email_icon.png') left 3px no-repeat;   
}
